<h1><%= title %></h1>
<div class="breadcrumb">
    <ul>
    <% for(var i=-1; ++i<breadcrumb.length;) { %>
        <li><a href="<%= breadcrumb[i].link %>"><%= breadcrumb[i].title %></a></li>
    <% } %>
    </ul>
</div>
<div class="container">
    <%- toc %>
    <div class="content">
        <%- content %>
    </div>
</div>
    