<table class="table table-condensed rfParamsTable">
    <tbody>
        <% for(i=0; i<params.length; i++) {
            var param = params[i];
            if(!param) continue;
        %>
            <tr>
                <td><code><%= param.name %></code></td>
                <td>
                    <%- 
                        tree.hasClass(param.paramType) ? 
                            linkify({
                                text: param.paramType, 
                                href: param.paramType + '.php'
                            }) : param.paramType
                    %>
                </td>
                <td>
                    <%= param.desc %>
                    <% var param = findConstantsObject(param.paramType); 
                        if(param) { %>
                        <table class="table table-condensed"><thead><th>Name</th><th>Type</th><th>Description</th></thead>
                        <tbody>
                            <% for(var key in param) { %>
                            <tr>
                                <td><%= key %></td>
                                <td><%= param[key].type %></td>
                                <td><%= param[key].shortDesc %></td>
                            </tr>
                            <% } %>
                        </tbody>
                        </table>
                    <% } %>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>