<h2>Class <%= item.class %></h2>

<h3><%= item.signature %></h3>

<% if(item.augments) { %>
    <p>inherits from 
        <%- 
            tree.hasClass(item.augments) ? 
                linkify({
                    text: item.augments, 
                    href: item.augments + '.html'
                }) : item.augments
        %>
    </p>
<% } %>

<% if(item.params) { %>
<%- render('params.ejs', {tree: tree, params: item.params}) %>
<% } %>

<% if(item.example) { %>
<pre><code><%= item.example %></code></pre>
<% } %>
<% if(item.methods) { %>
    <% for(j=0; j<item.methods.length; j++) {%>
        <%- render('method.ejs', {tree: tree, item: item.methods[j]}) %>
    <% } %>
<% } %>
    


<% if(item.augments) { 
    var base = tree.findNodeByClassName(item.augments);
    for(var j=0; j<base.methods.length; j++) {
%>
    <%- render('method.ejs', {tree: tree, item: base.methods[j]}) %>
<% } } %>