{% macro devExampleList (examples, lang, type) %}
<ul>
{% for item in examples[lang][type] %}
	<li><a href="/dev/{{ lang }}/{{ type }}/{{ item }}">{{ item }}</a></li>
{% endfor %}
</ul>
{% endmacro %}

{% macro prodExampleList (examples, lang, type, swa) %}
{{ swa }}
{% for item in examples[lang][type] %}
	<section class="section">		
			<span class="subtitles"><a href="/dashboard/{{ lang }}/{{ type }}/{{ item }}">{{ item }}</a></span> |
			<span class="github"><a href="https://github.com/RazorFlow/examples/blob/master/src/{{ lang }}/{{ type }}/{{ item }}.{{ lang }}" target="_blank">view on Github</a></span>
	</section>
{% endfor %}

{% endmacro %}
