{% macro devExampleList (examples, lang, type) %}
<ul>
{% for item in examples[lang][type] %}
	<li><a href="/dev/{{ lang }}/{{ type }}/{{ item }}">{{ item }}</a></li>
{% endfor %}
</ul>
{% endmacro %}

{% macro prodExampleList (examples, lang, type, swa) %}
{{ swa }}
<ul>
{% for item in examples[lang][type] %}
	<li>
	  <p><a href="/dashboard/{{ lang }}/{{ type }}/{{ item }}">{{ item }}</a></p>
	  <p><a href="https://github.com/RazorFlow/examples/blob/master/src/js/{{ type }}/{{ item }}.{{ lang }}">View On Github</a></p>
	</li>
{% endfor %}
</ul>
{% endmacro %}
